<tr>
  <td style="padding: 24px 40px 32px 40px; border-top: 1px solid {{colors.border}};">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <p style="margin: 0 0 8px 0; font-size: 12px; color: {{colors.mutedForeground}};">
            &copy; {{currentYear}} Nemesis. All rights reserved.
          </p>
          <p style="margin: 0; font-size: 12px; color: {{colors.mutedForeground}};">
            <a href="{{clientUrl}}" style="color: {{colors.mutedForeground}}; text-decoration: underline;">Visit Nemesis</a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>